:root {
  --separator-color: rgba(255, 255, 255, 0.1);
  --noise-texture: url("./noise.png");

  /* highlight base */
  --highlight-grad-base: rgba(255, 255, 255, 0);
  --highlight-active-opacity: 0.105;
  --highlight-hover-opacity: 0.125;
}

/* highlight for vertical aligned elements; for explorer (right to left) */
:root {
  --highlight-rows-bg: transparent;
  --highlight-rows-bg-hovered: rgba(255, 255, 255, 0.2);
  --highlight-rows-active-bg: rgba(255, 255, 255, 0.15);
  --highlight-rows-active-bg-hovered: rgba(255, 255, 255, 0.2);
}

/* highlight for horizontal aligned elements; for tabs (top to bottom) */
:root {
  --highlight-columns-bg: transparent;
  --highlight-columns-bg-hovered: rgba(255, 255, 255, 0.125);
  --highlight-columns-active-bg: rgba(255, 255, 255, 0.1);
  --highlight-columns-active-bg-hovered: rgba(255, 255, 255, 0.15);
}
