@import url("./color.css");

.monaco-editor-hover {
  background: var(--noise-texture) !important;
  backdrop-filter: blur(20px) !important;
}

.editor-widget > * {
  background: var(--noise-texture) rgba(64, 64, 64, 0.5) !important;
  backdrop-filter: opacity(60%) saturate(80%) blur(20px) !important;
  box-shadow: rgb(20, 20, 20) 0px 2px 4px;
  color: rgb(230, 230, 230);
}

.editor-widget .monaco-list-row:not(.focused):hover {
  background: rgb(255, 255, 255, 0.1) !important;
}

.editor-widget .monaco-list-row.focused {
  background: rgb(9, 71, 113) !important;
}

.editor-widget .monaco-list-row.focused:hover {
  background: rgb(39, 101, 143) !important;
}
