@import url("./color.css");

.monaco-workbench .explorer-folders-view .monaco-list-row {
  background: var(--highlight-rows-bg) !important;
}

.monaco-workbench .explorer-folders-view .monaco-list-row:hover {
  background: var(--highlight-rows-bg-hovered) !important;
}

.monaco-workbench .explorer-folders-view .monaco-list-row.selected {
  background: var(--highlight-rows-active-bg) !important;
}

.monaco-workbench .explorer-folders-view .monaco-list-row.selected:hover {
  background: var(--highlight-rows-active-bg-hovered) !important;
}
