@import url("./color.css");

.monaco-workbench .tabs,
.monaco-workbench .content {
  background: transparent !important;
}

.monaco-workbench .tab {
  border-right: 1px solid var(--separator-color) !important;
}

/* inactive tab */
.monaco-workbench .tab[aria-selected="false"] {
  background: var(--highlight-columns-bg) !important;
}

.monaco-workbench .tab[aria-selected="false"]:hover {
  background: var(--highlight-columns-bg-hovered) !important;
}

/* selected tab */
.monaco-workbench .tab[aria-selected="true"] {
  background: var(--highlight-columns-active-bg) !important;
}

.monaco-workbench .tab[aria-selected="true"]:hover {
  background: var(--highlight-columns-active-bg-hovered) !important;
}
